/*en general*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&');

* {

 box-sizing: border-box;
 margin:0;
 padding: 0;
}

/*:root{

	--secondary-color:#0e1525;
	--bg-dark-blue:#091020;
	--bg-white:#fff;
	--gray-color:#c6c9d8bf;
	--gradient-color: linear-gradient(-224deg, #FD4766 0, #337DFF 100%);
    --gradient-text: linear-gradient(120deg, #1C99FE 20.69%, #7644FF 50.19%, #FD4766 79.69%);
	filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr='#FD4766', endcolorstr='#0e1525', GradientType=1) 

 text color

--primary-font:'Poppins',sans-serif;
--primary-text: #FD4766;
--text-gray: #c6c9d8bf;
--text-white:#fff;
} */
 
body{

	font-family:'Poppins',sans-serif;
	background-color: #0e1525;
}

a{
	text-decoration: none;
}

/*& custome css*/
::-webkit-scrollbar {

	width: 6px;
}

::-webkit-scrollbar-track{

background: #091020;

}
::-webkit-scrollbar-thumb{

	background:#FD4766;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{

	-webkit-appearance:none;
	margin: 0;
}
section{
	padding:50px 0;
}

.main-btn {
	
	border-radius:50px;
	transition:all .4s ease-in-out;
	padding:10px 27px;
	background-color: transparent;
	border:4px solid #c6c9d8bf ;
	color: #c6c9d8bf;
	font-weight: 500;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-decoration: none;

}
.main-btn:hover{
	background-color:#FD4766;
	border-color: #FD4766;
	color: #fff;
}
h1{
	font-size: 54px;
	line-height: 68px;
	font-weight: 800;
	color: #fff;
	margin-bottom: 20px;
}
h1 span{
	color: #FD4766;
}

h2{

	font-size: 50px;
	line-height: 1.3;
	font-weight:600;
	color: #fff;
	margin-bottom:15px;

}

h3{

	font-size:20px;
	font-weight:600;
	color: #fff;
	margin-bottom:19px;

}
h6{

	font-size:15px;
	text-transform: uppercase;
	letter-spacing: 4px;
	display: block;
	font-weight:600;
	color: #c6c9d8bf;
	margin-bottom:20px;

}
p{
	color: #c6c9d8bf;
	font-size:16px ;
	line-height: 28px;
	letter-spacing:1px ;
	font-weight:400 ;
}


.subtile{
	display: inline-block;
	font-weight: 600;
	letter-spacing: 0.5px;
	line-height: 18px;
	font-size: 16px;
	margin-bottom: 12px;
	background: linear-gradient(-224deg, #FD4766 0, #337DFF 100%);
	background-color: linear-gradient(-224deg, #FD4766 0, #337DFF 100%);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
input:hover,
input:focus
textarea:focus,
textarea:hover,
button {
	  outline: none !important;
	  box-shadow: none !important;

}

.nav-link{
	color: #0070BB;

}
/*navbar*/

.header_wrapper .navbar{
	padding: 15px 0;
	-webkit-transition: all .2s linear;
	-o-transition:all .2s linear ;
	transition: all .2s linear;
}

.header_wrapper .navbar-brand img{

	max-width:120px ;
	height: auto;
}
.header_wrapper .navbar-toggler{
	border: 0;
	color: #c6c9d8bf;
	line-height: 2;
}
.header_wrapper .navbar-toggler:focus {

	box-shadow: none;
}
.header_wrapper .nav-item .nav-link{

	position: relative;
	font-size: 16px;
	font-weight: 500;
	color:#c6c9d8bf;
	display: inline-block;
}
.header_wrapper .nav-item .nav-link ::after{

position: absolute;
content: '';
left: 0;
width: 0;
height: 2px;
background:#FD4766;
transition: 0.3s;
bottom: 0;

}
.header_wrapper .nav-item .nav-link:hover::after{
   width: 100%;

}
.header_wrapper .nav-item .nav-link,
.header_wrapper .nav-item .nav-link:hover{

color: #fff;
}
.header-scrolled{
	 position: fixed;
	 top: 0;
	 left: 0;
	 width: 100%;
	 background-color: #091020;
	-webkit-box-shadow: 0 4px 6px 0 rgba(12, 0 ,46, .05);
	 box-shadow: 0 4px 6px 0 rgba(12, 0 ,46, .05);

} 

.header-scrolled.header_wrapper .nav-item .nav-link,
.header-scrolled.header_wrapper .nav-item .nav-link:hover {

	color: #FD4766;
}
/*3 banner*/

.banner_wrapper{
	width:100% ;
	height: auto;
	min-height: 1000px;
	background-image: url('../images/bg-image.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	padding: 200px 0 100px 0;

}
/*about */

.about_wrapper ul .nav-pills{
 
	border:1px solid #c6c9d8bf;
	border-radius: 50PX;

}
.about_wrapper ul li .nav-link{

	border-radius:50px;
	font-size:15px;
	font-weight:500;
	transition:all 0.45S cubic-bezier(0,0,0.2,1);
	display:inline-block;
	color:#c6c9d8bf;
	border:0;

}
.about_wrapper ul li .nav-link{

	background-color:#FD4766;

}
.about_wrapper .single-progress{

	margin-top:26px;
	position:relative;
	overflow:hidden;
	
}
.about_wrapper .single-progress .progress{

	height:4px;
	border-radius:4px;
	box-shadow: none;
	background-color:#fff;
	overflow:visible;
}
.about_wrapper .single-progress .progress .progress-bar{
	
	background-image:linear-gradient(-224deg, #FD4766 0, #337DFF 100%);
}
.about_wrapper .single-progress h6{

	text-align:left;
}
.about_wrapper .single-progress label{

	position:absolute;
	right:0;
	top:0;
	color:#c6c9d8bf;
	font-size:15px;
}
.about_wrapper .tab-pane li{

	color:#c6c9d8bf;
	font-size:16px;
	margin-bottom: 15px;
	font-weight:300;
	list-style:none;
}
.about_wrapper .tab-pane li a{

	font-weight:500;
	display:block;
	color:#c6c9d8bf;

}
/*services*/
.services_wrapper .card{
	background-color:#091020;
	cursor:pointer;
	transition:transform 0.65s cubic-biezier(0.05,0.2, 0.1);
	box-shadow:0.65s cubic-biezer(0.05, 0.2, 0.1, 1);
}
.services_wrapper .card:hover{
	box-shadow: 0px 2px 70px 0 rgb(253 71 102 /5%);
	transform:translateY(-5px);
}

/* portfolio */

.portfolio_wrapper .card{

	height:100%;
	min-height:250px;
	overflow:hidden;
	border:1px solid #091020;
	cursor: pointer;
	box-shadow:0 0 16 4px #091020;
}
.portfolio_wrapper .card span{
	transition: 4s ease-in-out 0s;
	width:100%;
	height:100%;
	background-position:top center;
	background-size:cover;

}
.portfolio_wrapper .card:hover span{

	background-position: bottom center;
}

/* contact */

.contact_wrapper .form-control,
.contact_wrapper textarea{ 
  
	background-color: transparent;
	border-color:#c6c9d8bf;
	color:#c6c9d8bf;
	font-size:15px;
	font-weight: 400;
	padding: 10px 20px;

}

.contact_wrapper .form-control:hover,
.contact_wrapper textarea:hover,
.contact_wrapper .form-control:focus,
.contact_wrapper textarea:focus{

	border-color: #FD4766;
	color:#fff;

}
.contact_wrapper .call_details{
	color:#c6c9d8bf;
}
.contact_wrapper .call_details a{
	font-weight:700;
	color:#c6c9d8bf;
}

/* footer*/

.footer_wrapper{

	 background-color:#091020;
	 padding:20px 0;	
}
.footer_wrapper .footer-logo img{
	width:100px;
}
.footer_wrapper .social-icon li{
	 
	margin:6px;
}
.footer_wrapper .social-icon a{

	width:35px;
	height:35px;
	line-height:30px;
	font-size:14px;
	display:inline-block;
	border:2px solid #c6c9d8bf;
	color:#c6c9d8bf;
	text-align:center;
	border-radius:100%;
	-webkit-transition:all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	transition:all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	
}
.footer_wrapper .social-icon a:hover{
	background-color:#FD4766;
	border-color:#FD4766;
	color:#fff;
	box-shadow: 0 1Ppx 15px 0 rgb(0 0 0/ 10%);
	transform:translateY(-3px);
}

.footer_wrapper .copyright-text p{

	font-size:11px;
	line-height:20px;
}
.footer_wrapper .copyright-text a{

	color:#FD4766;
}


	

















